[Unit]
Description=Sensors informer service
After=lm-sensors.service
Requires=lm-sensors.service

[Service]
Type=simple
Restart=always
User=user
ExecStart=/usr/local/bin/sensinf

[Install]
WantedBy=multi-user.target